@use "sass:map";

// Define the colors map
$colours: (
  // Primary Color Palette
  "primary-blue": #007bff,
  "dark-blue": #0056b3,
  "light-blue": #b3d7ff,
  "accent-blue": #33afff,
  "contrast-blue": #0e243a,

  // Secondary Color Palette
  "white": #ffffff,
  "light-gray": #c9c6c6,
  "medium-gray": #cccccc,
  "dark-gray": #272727,
  "black": #000000
);

// Function to get the colors
@function theme-color($colour-name) {
  @return map.get($colours, $colour-name);
}

// Define the fonts map
$fonts: (
  "primary-font": "Helvetica, Arial, sans-serif",
  "secondary-font": "Georgia, serif",
  "monospace-font": "Courier New, monospace",
);

// Function to get the fonts
@function theme-font($font-name) {
  @return map.get($fonts, $font-name);
}

// Mixin to apply theme colors
@mixin apply-theme-colors($map) {
  @each $key, $value in $map {
    .#{$key} {
      color: $value;
    }
  }
}

// Mixin to apply theme fonts
@mixin apply-theme-fonts($map) {
  @each $key, $value in $map {
    .#{$key} {
      font-family: $value;
    }
  }
}

// Include the mixins
@include apply-theme-colors($colours);
@include apply-theme-fonts($fonts);

// Example usage
body {
  background-color: theme-color("contrast-blue");
  font-family: theme-font("primary-font");
}

h1 {
  color: theme-color("primary-blue");
  font-family: theme-font("secondary-font");
}

p {
  color: theme-color("light-gray");
  font-family: theme-font("monospace-font");
}

.navbar-brand {
  color: theme-color("white");
  font-weight: light;
  font-size: 24px;
}

.navbar-login {
  color: theme-color("white");
  text-decoration: none;
}

.navbar-register {
  color: theme-color("white");
  text-decoration: none;
}
.home-image {
  height: 40vh;
  width: 100%;
}
.home-button {
  background-color: theme-color("dark-blue");
  border: solid theme-color("dark-blue");
  text-decoration: none;
  color: theme-color("light-gray");
  width: 70px;
}
.info-text {
  font-weight: light;
}
a {
  text-decoration: none;
}
.nav-border {
  background-color: #000000;
}
