@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// The colors map
$colours: (
  // Primary Color Palette
  "primary-blue": #007bff,
  "dark-blue": #013b79,
  "light-blue": #91aecf,
  "accent-blue": #33afff,
  "contrast-blue": #0e243a,

  // Secondary Color Palette
  "white": #ffffff,
  "light-gray": #ebe5e5,
  "medium-gray": #cccccc,
  "dark-gray": #272727,
  "black": #000000
);

// Function to get the colors
@function theme-color($colour-name) {
  @return map.get($colours, $colour-name);
}

// The fonts map
$fonts: (
  "primary-font": "Poppins, sans-serif",
  "secondary-font": "Georgia, serif",
  "monospace-font": "Courier New, monospace",
);

// Function to get the fonts
@function theme-font($font-name) {
  @return map.get($fonts, $font-name);
}

// Mixin to apply theme colors
@mixin apply-theme-colors($map) {
  @each $key, $value in $map {
    .#{$key} {
      color: $value;
    }
  }
}

// Mixin to apply theme fonts
@mixin apply-theme-fonts($map) {
  @each $key, $value in $map {
    .#{$key} {
      font-family: $value;
    }
  }
}

// The mixins
@include apply-theme-colors($colours);
@include apply-theme-fonts($fonts);

body {
  background-color: theme-color("contrast-blue");
  font-family: theme-font("primary-font");
}

h1 {
  color: theme-color("primary-blue");
  font-family: theme-font("primary-font");
}

p {
  color: theme-color("light-gray");
  font-family: theme-font("primary-font");
}

.navbar-brand {
  color: theme-color("white");
  font-weight: light;
  font-size: 24px;
}

.navbar-login {
  color: theme-color("white");
  text-decoration: none;
}

.navbar-register {
  color: theme-color("white");
  text-decoration: none;
}
.home-image {
  height: 25vh;
  max-width: 50%;
  object-fit: cover;
}
.home-button {
  background-color: theme-color("dark-blue");
  border: solid theme-color("dark-blue");
  text-decoration: none;
  color: theme-color("light-gray");
  width: 70px;
}
.info-text {
  font-weight: light;
}
a {
  text-decoration: none;
}
.nav-border {
  background-color: #000000;
}
.registerContainer{
  background-color: theme-color("light-gray");
}
